@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/* Resetando margens e paddings para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding e a borda não aumentem o tamanho total do elemento */
}

/* Configurações gerais do corpo da página */
body {
    font-family: 'Open Sans', sans-serif; /* Fonte utilizada na página */
    background-color: #f1ecec; /* Cor de fundo do body, pode ser alterada */
}

/* Estilo do contêiner central */
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da viewport */
}

/* Estilo do conteúdo principal */
.content {
    background-color: #fff; /* Cor de fundo do contêiner, pode ser alterada */
    border-radius: 15px; /* Bordas arredondadas */
    width: 80vw; /* Largura de 80% da viewport */
    max-width: 960px; /* Largura máxima */
    height: auto; /* Altura automática */
    justify-content: space-between; /* Espaço entre os elementos internos */
    align-items: center; /* Alinhamento dos itens */
    position: relative; /* Para uso de elementos absolutos */
    padding: 20px; /* Espaçamento interno */
}

/* Efeito de fundo com cor de animação */
.content::before {
    content: ""; /* Necessário para elementos pseudo */
    position: absolute;
    background-color: #6a68b6; /* Cor do fundo da animação, pode ser alterada */
    width: 40%; /* Largura do fundo */
    height: 100%; /* Altura total do contêiner */
    border-top-left-radius: 15px; /* Bordas arredondadas à esquerda */
    border-bottom-left-radius: 15px; /* Bordas arredondadas à esquerda */
    left: 0; /* Posicionamento à esquerda */
}

/* Estilo do título */
.title {
    font-size: 2rem; /* Tamanho do título */
    font-weight: bold; /* Peso da fonte */
    text-transform: capitalize; /* Primeira letra de cada palavra maiúscula */
}

/* Estilo do título principal */
.title-primary {
    color: #fff; /* Cor do título principal, pode ser alterada */
}

/* Estilo do segundo título */
.title-second {
    color: #6a68b6; /* Cor do segundo título, pode ser alterada */
}

/* Estilo das descrições */
.description {
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: 300; /* Peso da fonte leve */
    line-height: 1.5; /* Altura da linha */
}

/* Estilo da descrição principal */
.description-primary {
    color: #fff; /* Cor da descrição principal, pode ser alterada */
}

/* Estilo da descrição secundária */
.description-second {
    color: #7f8c8d; /* Cor da descrição secundária, pode ser alterada */
}

/* Estilo dos botões */
.btn {
    border-radius: 15px; /* Bordas arredondadas */
    text-transform: uppercase; /* Texto em maiúsculas */
    color: #fff; /* Cor do texto dos botões, pode ser alterada */
    font-size: 0.8rem; /* Tamanho da fonte */
    padding: 10px 30px; /* Espaçamento interno do botão */
    cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
    font-weight: bold; /* Peso da fonte do botão */
    width: 150px; /* Largura fixa do botão */
    align-self: center; /* Centraliza o botão no contêiner */
    border: none; /* Remove borda padrão */
    margin-top: 1rem; /* Margem superior */
}

/* Estilo do botão primário */
.btn-primary {
    background-color: transparent; /* Fundo transparente */
    border: 1px solid #fff; /* Cor da borda, pode ser alterada */
    transition: background-color .5s; /* Transição suave para o fundo */
}

/* Efeito de hover para o botão primário */
.btn-primary:hover {
    background-color: #fff; /* Cor de fundo ao passar o mouse */
    color: #6a68b6; /* Cor do texto ao passar o mouse */
}

/* Estilo do botão secundário */
.btn-second {
    background-color: #6a68b6; /* Cor de fundo do botão secundário, pode ser alterada */
    border: 1px solid #6a68b6; /* Cor da borda do botão secundário */
    transition: background-color .5s; /* Transição suave para o fundo */
}

/* Efeito de hover para o botão secundário */
.btn-second:hover {
    background-color: #fff; /* Cor de fundo ao passar o mouse */
    border: 1px solid #6a68b6; /* Cor da borda ao passar o mouse */
    color: #6a68b6; /* Cor do texto ao passar o mouse */
}

/* Estilo do conteúdo interno */
.first-content {
    display: flex; /* Flexbox para layout */
}

.first-content .second-column {
    z-index: 11; /* Camada superior */
}

.first-column {
    text-align: center; /* Centraliza o texto */
    width: 40%; /* Largura fixa */
    z-index: 10; /* Camada inferior */
}

.second-column {
    width: 60%; /* Largura fixa */
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Alinha itens ao centro */
}

/* Estilo para mídias sociais */
.social-media {
    margin: 1rem 0; /* Margem vertical */
}

/* Margem entre links de mídias sociais */
.link-social-media:not(:first-child) {
    margin-left: 10px; /* Margem à esquerda */
}

/* Efeito de transição nos ícones de mídias sociais */
.link-social-media .item-social-media {
    transition: background-color .5s; /* Transição suave para o fundo */
}

/* Efeito de hover nos ícones de mídias sociais */
.link-social-media:hover .item-social-media {
    background-color: #6a68b6; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
    border-color: #6a68b6; /* Cor da borda ao passar o mouse */
}

/* Estilo da lista de mídias sociais */
.list-social-media {
    display: flex; /* Flexbox para layout */
    list-style-type: none; /* Remove marcadores */
}

/* Estilo dos ícones de mídias sociais */
.item-social-media {
    border: 1px solid #bdc3c7; /* Cor da borda dos itens de mídias sociais */
    border-radius: 50%; /* Bordas arredondadas */
    width: 35px; /* Largura fixa */
    height: 35px; /* Altura fixa */
    line-height: 35px; /* Alinha o texto verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
    color: #91b2b7; /* Cor do texto dos itens de mídias sociais */
}

/* Estilo do formulário */
.form {
    display: flex; /* Flexbox para layout */
    flex-direction: column; /* Coloca os itens em coluna */
    width: 100%; /* Largura total do contêiner */
}

/* Estilo dos inputs */
.form input {
    height: 45px; /* Altura do input */
    width: 100%; /* Largura total do input */
    border: none; /* Remove borda padrão */
    background-color: #ecf0f1; /* Cor de fundo do input, pode ser alterada */
}

/* Estilo para o preenchimento automático de inputs no Chrome */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important; /* Remove a cor de fundo padrão */
    -webkit-text-fill-color: #000000 !important; /* Define a cor do texto */
}

/* Estilo dos labels */
.label-input {
    background-color: #ecf0f1; /* Cor de fundo do label, pode ser alterada */
    display: flex; /* Flexbox para layout */
    align-items: center; /* Alinha itens ao centro */
    margin: 8px 0; /* Margens verticais */
}

/* Estilo do ícone de modificação */
.icon-modify {
    color: #7f8c8d; /* Cor do ícone, pode ser alterada */
    padding: 0 5px; /* Espaçamento lateral */
}

/* Estilo do segundo conteúdo */
.second-content {
    position: absolute; /* Posição absoluta para sobreposição */
    display: flex; /* Flexbox para layout */
}

.second-content .first-column {
    order: 2; /* Ordem do elemento */
    z-index: -1; /* Camada inferior */
}

.second-content .second-column {
    order: 1; /* Ordem do elemento */
    z-index: -1; /* Camada inferior */
}

/* Estilo para a senha */
.password {
    color: #34495e; /* Cor do texto da senha, pode ser alterada */
    font-size: 14px; /* Tamanho da fonte */
    margin: 15px 0; /* Margens verticais */
    text-align: center; /* Centraliza o texto */
}

/* Primeira letra da senha em maiúscula */
.password::first-letter {
    text-transform: capitalize; /* Transforma a primeira letra em maiúscula */
}

/* Classes de animação */
.sign-in-js .first-content .first-column {
    z-index: -1; /* Camada inferior */
}

.sign-in-js .second-content .second-column {
    z-index: 11; /* Camada superior */
}

.sign-in-js .second-content .first-column {
    z-index: 13; /* Camada superior */
}

/* Efeito de animação para a seção de login */
.sign-in-js .content::before {
    left: 60%; /* Posição inicial da animação */
    border-top-left-radius: 0; /* Remove arredondamento */
    border-bottom-left-radius: 0px; /* Remove arredondamento */
    border-top-right-radius: 15px; /* Mantém arredondamento */
    border-bottom-right-radius: 15px; /* Mantém arredondamento */
    animation: slidein 1.3s; /* Animação de deslizamento */
}

/* Efeito de animação para a seção de registro */
.sign-up-js .content::before {
    animation: slideout 1.3s; /* Animação de deslizamento para saída */
}

/* Define a camada dos elementos na seção de registro */
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1; /* Camada inferior */
}

.sign-up-js .first-content .second-column {
    z-index: 11; /* Camada superior */
}

.sign-up-js .first-content .first-column {
    z-index: 13; /* Camada superior */
}

/* Animação de deslizar para a esquerda */
.sign-in-js .first-content .second-column {
    z-index: -1; /* Camada inferior */
    position: relative; /* Posição relativa para animação */
    animation: deslocamentoEsq 1.3s; /* Animação para deslizar para a esquerda */
}

/* Animação de deslizar para a direita */
.sign-up-js .second-content .second-column {
    position: relative; /* Posição relativa para animação */
    z-index: -1; /* Camada inferior */
    animation: deslocamentoDir 1.3s; /* Animação para deslizar para a direita */
}

/* Definição das animações */
@keyframes deslocamentoEsq {
    from {
        left: 0; /* Posição inicial */
        opacity: 1; /* Opacidade total */
        z-index: 12; /* Camada superior */
    }

    25% {
        left: -80px; /* Mover para a esquerda */
        opacity: .5; /* Reduz a opacidade */
    }

    50% {
        left: -100px; /* Continua a mover para a esquerda */
        opacity: .2; /* Reduz mais a opacidade */
    }

    to {
        left: -110px; /* Posição final */
        opacity: 0; /* Torna invisível */
        z-index: -1; /* Camada inferior */
    }
}

@keyframes deslocamentoDir {
    from {
        left: 0; /* Posição inicial */
        z-index: 12; /* Camada superior */
    }

    25% {
        left: 80px; /* Mover para a direita */
    }

    50% {
        left: 100px; /* Continua a mover para a direita */
    }

    to {
        left: 110px; /* Posição final */
        z-index: -1; /* Camada inferior */
    }
}

@keyframes slidein {
    from {
        left: 0; /* Posição inicial */
        width: 40%; /* Largura inicial */
    }

    25% {
        left: 5%; /* Mover para a direita */
        width: 50%; /* Ajustar a largura */
    }

    50% {
        left: 25%; /* Continuar a mover para a direita */
        width: 60%; /* Ajustar a largura */
    }

    75% {
        left: 45%; /* Continuar a mover para a direita */
        width: 50%; /* Ajustar a largura */
    }

    to {
        left: 60%; /* Posição final */
        width: 40%; /* Largura final */
    }
}

@keyframes slideout {
    from {
        left: 60%; /* Posição inicial */
        width: 40%; /* Largura inicial */
    }

    25% {
        left: 45%; /* Mover para a esquerda */
        width: 50%; /* Ajustar a largura */
    }

    50% {
        left: 25%; /* Continuar a mover para a esquerda */
        width: 60%; /* Ajustar a largura */
    }

    75% {
        left: 5%; /* Continuar a mover para a esquerda */
        width: 50%; /* Ajustar a largura */
    }

    to {
        left: 0; /* Posição final */
        width: 40%; /* Largura final */
    }
}

/* Design Responsivo */
@media screen and (max-width: 1040px) {
    .content {
        width: 90vw; /* Largura responsiva */
        padding: 20px; /* Ajuste o padding conforme necessário */
    }
}

@media screen and (max-width: 740px) {
    .form {
        width: 100%; /* Largura total do formulário */
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%; /* Largura total do formulário */
    }
}
